body {
    background-color: LightGray;
}

div {
    border: 1px solid Chocolate;
}

.navbar {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #838994;
    letter-spacing: 0.03em;
    -webkit-font-smoothing: antialiased;
    height: 70px;
    background-color: #fff;
    padding-top: 15px;
}

.navbarlogo {
    position: relative;
    float: left;
    height: 40px;
    margin-bottom: 15px;
    margin-left: 395px;
    margin-right: 600px;
}

ul {
    height: 70px;
    list-style: none;
}

li {
    margin-right: 25px;
    height: 70px;
    display: inline-block;
}

li.active {
    color: #4c5058;
    font-weight: 500;
}

.navbar .links a {
    color: #838994;
    text-decoration: none;
}